<ul>
    <%= for contact <- @contacts do %>
        <li><%= link(CrmWeb.GlobalHelpers.get_full_name(contact), to: Routes.contact_path(@conn, :show, contact)) %> - <%= button("delete", to: Routes.contact_path(@conn, :delete, contact), method: :delete) %></li>
    <% end %>
</ul>