<h1><%= CrmWeb.GlobalHelpers.get_full_name(@contact) %></h1>
<%= if @contact.days_for_contact do %>
    <p>Days before contact : <%= @contact.days_for_contact %></p>
<% end %>
<%= link("+ Add an update", to: Routes.update_path(@conn, :new)) %>